<h4>ここはaboutページ</h4>
  <% if user_signed_in? %>
    <%= link_to "あなたのお勧めのパン屋を教えてください！",new_recommend_path %>
  <% else %>
    <%= link_to "会員登録してあなたのお勧めのパン屋を教えてください！",new_user_registration_path %>
  <% end %>




