// Place all the styles related to the user/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container {
  height:800px;
  background-image: image-url("pantop.jpeg");
  background-size:cover;
  background-position: center;
}